* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

/* Preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.preloader-disappear {
    animation: vanish 3s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader-circle {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg);
            border-top: 10px solid #3498db;
    }
        25%{transform: rotate(90deg);
            border-top: 10px solid #3498db;

        }
        50%{transform: rotate(180deg);
            border-top: 10px solid #3498db;
        }
        75%{transform: rotate(270deg);
            border-top: 10px solid #3498db;
        }

    100% { transform: rotate(360deg);
            border-top: 10px solid #3498db;    
    }
}

/* Preloader END */

body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" 
                         "main" 
                         "footer";
    grid-template-rows: 1fr 80px;
    background-color: #333333;
    height: 100vh;
}

.page-wrapper {
    height: 100vh;
}

.page-header {
    padding: 20px;
    width: 100%;
    background-color: #000000;
    grid-area: header;
}

.page-header a {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 1;
    text-decoration: none;
    color: #f5f5f5;
}

.page-logo {
    width: 150px;
    max-width: 180px;
    height: auto;
    max-height: 200px;
}

.container-page-heading h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: 3em;
}

.container-logo, .container-page-heading {
    padding: 0 15px;
    display: grid;
}

.container-logo {
    grid-column: 2;
    align-items: center;
    justify-content: end;
}

.container-page-heading {
    grid-column: 3;
    align-items: center;
    justify-content: start;
}

.fa, .fa-search {
    display: none;
}

.page-nav-container {
    display: none; /*remove once you've decided on a better design and animations*/
    margin: 5px;
    position: fixed;
    z-index: 5;
}

.page-nav-container span {
    padding-left: 5px;
}

.header-gradient {
    min-height: 10vh;
    min-width: 100vw;
    margin-top: -1px;
    margin-bottom: -1px;
    background: linear-gradient(#000000, #333333);
}

.footer-gradient {
    min-height: 2vh;
    min-width: 100vw;
    margin-top: -1px;
    margin-bottom: -1px;
    background: linear-gradient(360deg, #000000 0%, #333333 50%);
    position: relative;
    z-index: 1;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.page-main h2 {
    color: #cccccc;
}

.nav-side {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 220px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-side a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-side a:hover {
    color: #f1f1f1;
}

.nav-side .btn-close {
    font-size: 36px;
}

.page-main  {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    align-items: center;
    justify-items: center;
    grid-area: main;
    min-height: 100%;
}

.container-main-cards {
    max-width: 60%;
    max-height: 100%;
    z-index: 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center; */
    row-gap: 3vh;
    column-gap: 3vh;
}

.main-card {
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    perspective: 1000px;
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.main-card:hover {
    transform: scale(1.05);
    filter: none;
}

.main-card:visited {
    color: #000000;
}

.card-img-box {
    overflow: hidden;
    width: 300px;
    max-height: 100%;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.card-img {
    min-width: 100px;
    max-width: none;
    max-height: 450px;
    margin: 0 -100%;
}

.main-card h3, .main-card p {
    padding: 0 15px;
}


.main-card h3 {
    font-size: 2em;
}

.main-card p {
    font-size: 1em;
}

.main-card-infobox {
    height: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-card-infobox h3 {
    align-self: end;
}

.main-card-infobox p {
    align-self: start;
}


#img-coding {
    width: 800px;
}


#img-writing {
    width: 400px;
}


#img-creative {
    width: 400px;
}


#img-about {
    width: 300px;
}

#img-about-alt {
    display: none;
}


#img-contact {
    width: 300px;
}

#main-card-coding {
    grid-column: 1;
    grid-row: 1 / span 3;
    height: 100%;
    text-align: center;
}

#main-card-writing {
    grid-column: 2;
    grid-row: 1 / span 1;
    height: 100%;
    text-align: center;
}

#main-card-creative {
    grid-column: 2;
    grid-row: 2 / span 2;
    height: 100%;
    text-align: center;
}

#main-card-about {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
    text-align: center;
}

#main-card-contact {
    grid-column: 3;
    grid-row: 3 / span 1;
    height: 100%;
    text-align: center;
}

.page-footer {
    background-color: #000000;
    color: #ffffff;
    display: block;
    align-content: end;
    text-align: center;
    grid-area: footer;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.nav-bottom {
    padding: 0.25em;
}

.nav-bottom a {
    padding: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: block;
    text-decoration: none;
    padding: 2px;
}

input[type=button] {
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 12px;
    margin: 12px;
}

input[type=button]:hover {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 12px;
    margin: 12px;
}

input[type=submit] {
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 12px;

}

input[type=submit]:hover {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 12px;

}

a {
    text-decoration: none;
}

/* Coding Page */

#page-main-coding {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    overflow-y: hidden;
}

.container-web-sample {
    width: 80vw;
}

.web-sample-heading {
    color: #cccccc;
}

.web-sample-box {
    margin: 3em;
}

.web-sample-description {
    color: #cccccc;
    margin-bottom: 1em;
}

.chevron {
    padding: 0 0 0 18px;
    font-size: 1.5em;
}


/* Coding Page END */

/* Writing Page */


#page-main-writing {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    overflow-y: hidden;
}

.container-writing-sample {
    width: 80vw;
}

.writing-sample-heading {
    color: #cccccc;
}

.writing-sample-box {
    margin: 3em;
}

.writing-sample-description {
    color: #cccccc;
    margin-bottom: 1em;
}

.chevron {
    padding: 0 0 0 18px;
    font-size: 1.5em;
}




.content-article {
    margin: auto;
}



/* Writing Page END*/

/* About & Contact Page */

.main-bio {
    width: 40%;
    color: #cccccc;
}

.main-bio h1 {
    text-align: center;
}

.main-bio h2 {
    text-align: center;
}

#page-main-about {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100%;
    margin-top: 1em;
    padding-bottom: 1em;
}

/* .bio-anchor:hover {
    font-size: 0.8em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
} */


#page-main-contact {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    overflow-y: hidden;
}

.contact-socials {
    margin: 8px 8px 8px 0px;
    padding: 4px 4px 4px 0px;
}

.contact-socials a img {
    height: 4em;
    padding: 8px 8px 8px 0px;
}

.contact-form {
    margin: 10vh;
    padding: 18px;
    width: 50%;
    color: #cccccc;
}

#contact-email-break {display: none;}

.main-experience {
    text-align: center;
    margin: 2em;
    color: #cccccc;
}

.container-experience {
    text-align: center;
}

.experience-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}

.experience-box h3 {
    text-decoration: underline;
}

.experience-box div {
    margin: 1em;
    text-align: left;
}

.experience-list {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.experience-list li {
    display: list-item;
}


.main-philosophy {
    width: 40%;
    color: #cccccc;
    text-align: center;
}

/* About & Contact Page END */



/* Coming Soon Page START */

.box-coming-soon {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    text-align: center;
    margin: 68px;
    padding: 24px;
    color: #cccccc;
}

.box-coming-soon > h1 {
    text-align: center; grid-row: 1;

}

.box-coming-soon > h5 {
    text-align: center; grid-row: 2;
}

.box-coming-soon > div {
    text-align: center; grid-row: 3;
}

/* Coming Soon Page END */




/* Modal styling */

/* The Modal (background) */
.modal-general {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Button styling */
.btn-modal {
    display: block;
    margin: 1em 1em 1em 0;
    padding: 4px 10px;
    border: none;
    background-color: #444444;
    color: #cccccc;
    font-size: 1.3em;
}

.btn-modal:hover {
    background-color: #777777;
    color: #000000;
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content > p {
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 1%;
      text-align: center;
  }

  /* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content img {
    max-width: 100%;
}

.modal-content h2 {
    text-align: center;
    color: #000;
}


iframe {
    width: 100%;
    min-height: 100vh;
    border: none;
    overflow: visible;
    resize: horizontal;
    max-width: 100%;
}


/* Modal styling END*/



/* Media Queries */

@media screen and (max-width:1599.9px) {
    .page-main {display: flex; justify-content: flex-start;}
    .main-card {max-height: 400px; min-height: 400px;}
    .container-main-cards {display: flex; flex-direction: row; min-height: 100%; justify-content: space-around; flex-wrap: wrap; margin-left: auto; margin-right: auto; min-width: 80vw;}
    .main-card {width: auto; overflow: visible; max-height: 400px;}
    .main-bio {width: 40%}
    .main-bio h1 {text-align: center;}
    .main-bio h2 {text-align: center;}
    .main-bio p {text-align: center;}
    #page-main-about {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-contact {display: flex; justify-content: center; align-items: flex-start; min-width: 80vw;}
    #page-main-coding {display: flex; justify-content: center; align-items: flex-start; min-width: 80vw;}
}

@media screen and (max-width:1279.9px) {
    .page-wrapper {max-width: 100%; overflow-y: scroll;}
    .page-main {display: flex; justify-items: center; align-items: flex-start;}
    .container-main-cards {display: flex; flex-direction: row; min-height: 100%; justify-content: space-around; flex-wrap: wrap; margin-left: auto; margin-right: auto; min-width: 80vw;}
    .main-card {width: auto; overflow: visible; max-height: 400px;}
    #img-about {display: none;}
    #img-about-alt {display: block; margin: auto; max-width: 150px;}
    #card-img-about {background-color: #000000;}
    #page-main-about {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-contact {display: flex; justify-content: center; align-items: flex-start; min-width: 80vw;}
    #page-main-coding {display: flex; justify-content: center; align-items: flex-start; min-width: 80vw;}
    .main-bio {width: 40%}
    .main-bio h1 {text-align: center;}
    .main-bio h2 {text-align: center;}
    .main-bio p {text-align: center;}
}

@media screen and (max-width:961.9px) {
    .page-nav-container {display: none;}
    .container-main-cards {display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: nowrap;}
    .card-img-box {display: block; width: 100%;}
    .card-img {object-fit: fill;}
    .main-card {overflow: hidden; align-items: center; justify-content: center; max-height: 375px; margin: 2vh; min-width: 50vw; min-height: 10vh;}
    .page-wrapper {max-width: 100%; padding: auto; margin: auto;}
    .page-main {margin: auto; display: flex; flex-direction: column; align-items: center; justify-items: center;}
    #img-coding {width: 500px;}
    #img-writing {width: 500px;}
    #img-creative {width: 500px;}
    #img-about {display: none;}
    #img-about-alt {display: block; margin: auto; max-width: 150px;}
    #img-contact {width: 500px;}
    #card-img-about {background-color: #000000;}
    .main-bio {width: 70%}
    .main-bio h1 {text-align: center;}
    .main-bio h2 {text-align: center;}
    #page-main-about {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-contact {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-coding {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #contact-email-full {display: block;}
}

@media screen and (max-width:767.9px){
    html {overflow-x: hidden;}
    .page-nav-container {display: none;}
    .card-img-box {display: none;}
    .card-img {display: none;}
    .page-header {width: 100vw; padding: 0;}
    .page-wrapper {max-width: 100vw; padding: auto; margin: auto;}
    .container-page-heading {display: none;}
    .container-logo {padding: 0;}
    .page-logo {display: flex; width: auto; overflow: hidden;  position: relative; margin-left: 50%; margin-right: 50%;}
    .page-main {margin: auto;}
    .main-card {display: flex; margin: 2vh; min-width: 80vw; min-height: 10vh;}
    .container-main-cards {display: flex; margin: auto; flex-wrap: nowrap; flex-direction: column; justify-content: space-between;}
    .main-card-infobox p {font-size: 20px; align-items: center;}
    .main-bio {width: 80%}
    .main-bio h1 {text-align: center;}
    .main-bio h2 {text-align: center;}
    .main-bio p {text-align: center;}
    #page-main-about {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-contact {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-coding {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    .contact-form {width: 90vw;}
    #contact-email-full {display: none;}
    #contact-email-break {display: block;}
    .main-experience {width: 50%;}
    .experience-box {width: 100%; justify-content: center;}
}

@media screen and (max-width:360px) {
    .page-main {display: flex;}
    .page-nav-container {display: none;}
    .main-bio {width: 80%}
    .main-bio h1 {text-align: center; width: 100%;}
    .main-bio h2 {text-align: center;}
    .main-bio p {text-align: center;}
    #page-main-about {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-contact {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    #page-main-coding {display: flex; justify-content: flex-start; align-items: center; min-width: 80vw;}
    .contact-form {width: 80vw;  margin: 50vw;}
    #contact-email-full {display: none;}
    #contact-email-break {display: block;}
    .main-experience {width: 50%;}
    .experience-box {width: 100%; justify-content: center;}
}