.container-main-cards {
    max-width: 80%;
    max-height: 1000px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 35px;
    column-gap: 35px;
}

.container-column {
    width: 100%;
}

.cards-mini {
    height: 60px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    display: table;
    border: none;
    background-color: #ffffff;
}

.container-column h2 {
    text-decoration: underline;
}

.cards-mini span {
    font-size: 16px;
    text-align: left;
}

.cards-mini:hover {
    transform: scale(1.1);
}

.cards-mini > span {
    display: table-cell;
    vertical-align: middle;
}

